/*
Theme Name: HackerYou Starter Theme
Theme URI: http://hackeryou.com;
Description: Starter theme for building any website. Created by HackerYou. Rename this to your own theme page.
Version: 1.0
Author: HackerYou
Author URI: http://hackeryou.com
*/

@import "reset"


// ==========================================================
// Variables & Mixins
// ==========================================================

// Type -------------------------
$display = 'Dosis' sans-serif
$body = 'Hind' sans-serif

// Colours ----------------------
$main = rgba(142, 94, 65, 1)
$text = rgba(113, 113, 113, 1.0)


// ==========================================================
// Default Styling
// ==========================================================

/* Global Classes / Wordpress Specific */
.aligncenter    { text-align: center; margin: 0 auto; }
.alignleft      { float: left; }
.alignright     { float: right; }
img.alignleft     { padding-right: 5px;}
img.alignright    { padding-left: 5px; }
.clear        { width:100%; float:left; clear:both;}

html
	font-size 10px
	-webkit-font-smoothing antialiased
	
body
	color $text
	font-family $body
	font-size 1.65rem
	line-height 1.65
	font-weight 400
	padding-bottom 82px

.container
	max-width 1200px
	margin 0 auto
	
.nav-container
	max-width 1400px
	margin 0 auto

.content
	float left
	width 65%
	margin-right 5%

.full
	width 100%

a
	color $main
	text-decoration none
	&:hover
		color lighten($main, 20%)
	
img {
	max-width:100%;
}

blockquote
	background #F7F7F7
	margin 0
	padding 20px
	p
		margin-top 0

table
	td
		padding 10px
	tr
		td
			&:first
				padding-right 0

dt
	font-weight 600
	padding-bottom 5px

dd
	padding 10px
	margin-left 10px

ul li,ol li
	padding 3px
	font-size 2rem

pre
	background #F7F7F7
	padding 10px
	border-radius 4px
	border 1px solid #ccc
	
// ==========================================================
// Typography
// ==========================================================	
h1
h2
h3
h4
	font-family $display
	text-transform uppercase
	font-weight 300

h1
	font-size 5rem
	letter-spacing 0.1rem
	
h2
	font-size 4rem
	
h3
	font-size 3.4rem
	
h4
	font-size 3rem
	
p
	font-size: 2.2rem;
	letter-spacing: -0.02rem;


// ==========================================================
// Sidebar
// ==========================================================
.sidebar
	width 30%
	float left
	ul
		margin 0
		padding 0
		li
			list-style none

// ==========================================================
// Header
// ==========================================================
.main-header
	clear both
	background rgba(222, 222, 222, 1)
	position fixed
	width 100%
	bottom 0
	left 0
	padding 2rem 0
	max-height 8vh	

	h1
		font-size 3.6rem
		font-weight 300
		display inline-block
		float left
		text-transform uppercase
		margin 0 50px 0 0
		line-height 1

// Navigation
// ----------------------------------------
nav
	display inline-block
ul
	&.menu
		margin 0
		padding 0
		li
			display inline-block
			margin-right 10px
			padding 0
			a
				color $main
				padding 10px
				display block
				line-height 1.6

// ==========================================================
// Footer
// ==========================================================
footer


// ==========================================================
// Comments
// ==========================================================
#comments
	.navigation
		padding 0 0 18px
	.comment-body
		p
			&:last-child
				margin-bottom 6px
		blockquote
			p
				&:last-child
					margin-bottom 24px
	.pingback
		margin-bottom 18px
		padding-bottom 18px
		border-bottom 1px solid #e7e7e7
		p
			color #888888
			font-size 12px
			line-height 18px
			display block
			margin 0
		.url
			font-style italic
			font-size 13px
	.comment-form-comment textarea
		border 1px solid rgba(142, 94, 65, 0.34)
		background rgba(142, 94, 65, 0.12)
		padding 3rem


h3#comments-title,
h3#reply-title
	color lighten($text, 30%)
	// font-weight 700
	// font-size 20px
	// margin-bottom 0

h3#comments-title
	padding 24px 0

.commentlist
	li
		&.comment
			border-bottom 1px solid #e7e7e7
			line-height 24px
			position relative
			clear both
			margin 0 0 24px
			padding 0 0 0 56px
			& + li
				&.pingback
					margin-top -6px
		&:last-child
			border-bottom none
			margin-bottom 0
	ol
		list-style decimal
	.avatar
		position absolute
		top 4px
		left 0
	.children
		li
			border none
			margin 0

#comments .comment-body ul, #comments .comment-body ol
	margin-bottom 18px

.comment-author
	cite
		color #000000
		font-style normal
		font-weight 700
	.says
		font-style italic

.comment-meta
	font-size 12px
	margin 0 0 5px

.comment-meta a:link, .comment-meta a:visited
	color #888888
	text-decoration none

.reply
	font-size 12px
	padding 0 0 24px

.reply a, a.comment-edit-link
	color #888888

input[type=submit]
	color $main
	padding 1rem
	background transparent
	border 1px solid rgb(187, 158, 141)
	margin-top 2rem
	// Figure out this hover!
	&hover
		background  rgb(187, 158, 141)

#respond
	margin-top 24px
	border-top 1px solid rgba(0,0,0,0.15)
	overflow hidden
	position relative
	.comment-notes
		margin-bottom 1em
	.required
		color #ff4b33
		font-weight 700
	label
		color #888888
		font-size 12px
	input
		width 98%
		// margin 0 0 9px
	textarea
		width 98%
	dd
		display inline
		code
			font-size 11px
	.form-submit
		margin 0 0 24px
		input
			width auto
			font-size 14px
	dl
		margin 0 0 10px
	dt
		display inline
		font-weight 400

.form-allowed-tags
	line-height 1em

.children
	#respond
		margin 0 48px 0 0

h3#reply-title
	margin 18px 0

#comments-list
	#respond
		margin 0 0 18px

#cancel-comment-reply-link
	font-size 12px
	line-height 18px
	font-weight 400

#respond dt, #respond dd
	color #888888
	font-size 12px
	line-height 18px

p.form-allowed-tags, .nocomments
	display none

.commentlist, .commentlist .children
	list-style none
	margin 0

.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover
	color #ff4b33

#respond p, #comments-list ul #respond
	margin 0

// ==========================================================
// Blog
// ==========================================================

// Index page -----------------------------------------------
.blog main
	text-align center
	
	// .container
	// 	padding 10rem 0
	// 	border-bottom 1px solid rgba(0,0,0,0.15)
.blog .post .container
		padding 10rem 0
		border-bottom 1px solid rgba(0,0,0,0.15)

.blog .entry-content
		margin-top 5rem
	

		
// Single page ----------------------------------------------
.single-post main .container
	padding 0 10%

// Titles ---------------------------------------------------	
.page-title
	color lighten($text, 30%)
	border-bottom 1px solid rgba(0,0,0,0.15)
	padding 3rem 0
	

.entry-header
	text-align center
	
.entry-meta
	text-transform uppercase
	font-size 1.5rem
	letter-spacing 1px

.single-post .entry-footer
	margin-top 5rem
	padding-top 2rem
	border-top 1px solid rgba(0,0,0,0.15)
	
.entry-footer p, p.logged-in-as
	text-transform uppercase
	font-family 'Dosis' sans-serif
	font-weight 600
	opacity 0.7
	font-size 1.6rem
	letter-spacing 1px

.single-post .entry-header
	padding-bottom 5rem
	margin-bottom 5rem
	
.entry-title
	font-size 6rem
	font-weight 300
	text-align center
		
// ==========================================================
// Gallery
// ==========================================================
.gallery
	position relative
	// top 50%
	// transform translate(-50%,-50%)
	height 92vh
	
	img
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		max-height 90%

// Gallery controls -------------------------------------
	.back,
	.forward
		color lighten($text, 50%)
		position absolute
		top 50%
		transform translateY(-50%)
	.back
		left: 50px
	.forward
		right: 50px